body {
  background-color: rgb(73, 4, 73);
  font-family: Arial;
  color: gold;
}

.title {
  font-family: 'Dark';
  font-size: 50px;
}

.move-icon {
  height: 70px;
}

.move-butt {
  background-color: transparent;
  border: 3px solid gold;
  border-radius: 60px;
  height: 120px;
  width: 120px;
  margin-right: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

.result {
  font-family: fantasy;
  font-size: 25px;
}

.moves {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 200;
}

.score {
  font-family: fantasy;
  font-size: 26px;
}

.reset-butt {
  background-color: gold;
  color: rgb(129, 22, 129);
  border-style: outset;
  border-radius: 30px;
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  cursor: pointer;
}